.flexRowContent--topbar-container {
    background-color: #DED877
}

/* navbar Submenu  */
.flexRow--flex-inner-menu {
    width: 100%;
}

.flexColChild--navbar-hover-leff {
    align-self: center;
}

/*SEARCH-RESULT */
.flexCol--filterCol {
    width: 20rem;
}

/*FOOTER*/
.flexRow--footer-container-desktop {
    padding-top: 2rem;
    border-top: 1px solid grey;
    margin-top: 2rem;
    background-color: #c8e4e9;
}
